*.o
*.dbg
*.map
*.sym
*.lnk
secrets
twoship/cc65
dizworld/cc65
elasticity/cc65
elasticity/flicker*.png
elasticity/residual*.png
multest/cc65
extbgtest/cc65
colourmath/cc65
palcycle/cc65
palcycle/ferrari
palcycle/ferrari.bin
palcycle/palcycle_ferrari.sfc
