*.o
*.dbg
*.map
*.sym
*.lnk
secrets
twoship/cc65
dizworld/cc65
elasticity/cc65
elasticity/flicker*.png
elasticity/residual*.png
multest/cc65
extbgtest/cc65
colourmath/cc65
palcycle/cc65
palcycle/ferrari
palcycle/ferrari.bin
palcycle/palcycle_ferrari.sfc
noise31/cc65
noise31/wla-dx
noise31/spc.bin
iplfast/cc65
iplfast/wla-dx
mset/cc65
mset/mset.c.s
mset/mset.nes
mset/mset.c.pre.txt
ctrltest/cc65
ctrltest/ctrltest.c.s
ctrltest/ctrltest_auto.c.s
ctrltest/ctrltest_simple.c.s
smalltext/cc65
